.HUL {
  background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3)
    no-repeat;
  /* Keep the inherited background full size. */
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.HUL {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
}

.HUL div {
  border: 5px dotted black;
  padding: 15px;
  position: relative;
  overflow: hidden;
  color: black;
  font-weight: 900;
}

.HUL a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HUL p {
  position: absolute;
  background: rgba(1, 1, 1, 0.8);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 4em !important;
  opacity: 0;
  transition: all 0.3s ease;
  line-height: 500px;
  text-align: center;
  font-size: 30px;
  z-index: 2;
}

.HUL iframe {
  max-width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.HUL p:hover {
  transform: scale(1.3);
  opacity: 1;
}

.HUL div:hover > div {
  opacity: 1;
}

.HUL iframe {
  width: 300px;
  height: 500px;
}

.HUL div {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.HUL div:before {
  content: '';
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}
